*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color: #000;
}

html,body{
    height:100%;
    width:100%;
}

#main{
    font-family: 'Nunito', sans-serif;
     width: 100%;
    background-color: #fff;
     padding-bottom: 50px;
}
#home{
     min-height: 100vh;
     width: 100%;
}

#nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
    padding:10px 50px;
}
#nav #right{
    display: flex;
    align-items: center;
    gap: 25px;
}
#nav img{
    width:100px;
}
#right a{
    text-decoration: none;
    font-weight:500;
    font-size:2.5vh;
    color:black;
}
#right i{
    font-size:20px;
}

#home #homemain{
    width: 100%;
    padding: 13vw 14vw;
}

.headings{
    display: flex;
    gap: 40px;
}
.headings h1{
    color:transparent;
    -webkit-text-stroke: 1px #000;
    font-size:6.5vw;
    letter-spacing: -5px;
    font-weight: 700;
    line-height: 1;
}
#homemain .headings h1:hover{
    color: #000;
}
#homelast{
    padding: 2vw 28vw ;
}
#homelast p{
    width: 80%;
    font-size:1.3vw;
    font-weight:500;
    letter-spacing: -.5px;
}
#homelast p::selection{
    color: #fff;
    background-color: #000;
}
#homelast p:hover{
    background-color:aqua;
}

#features{
   padding: 5vw 13vw;
}
#ok{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14vw;
}

#fheading h1{
    line-height: 0.8;
    font-size:4vw;
    font-weight: 400;
}
#fheading h1:nth-child(2){
    color:transparent;
    -webkit-text-stroke: 1px #000;

}
#fheading h1:hover{
    background-color: black;
    color: white;
}
#fheadingimg{
    display: flex;
    align-items: center;
     gap: 5vw;
}
#fheadingimg i{
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 1px #000 ;
}


#fheadingimg img{
     width: 80%;
}

#fimages{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    width:100%;
    height: 100vh;

}
#fleft{
    
    overflow: hidden;
    width:45%;
    height: inherit;
}
.fleftlm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: inherit;
}

.fleftlm h1{
    font-size: 2.5vw;
    font-weight: 400;
    margin:2vw 0vw;
    line-height: 0.9;
    text-transform: capitalize;
}
.fleftlm h3{
    font-weight: 300;
}
#fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:45%;
    height:inherit;
}
#fright .images{
  width: 90%;
  height: 80%;
}
#fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btndiv{
    display: flex;
    align-items:center;
    justify-content: center;

}
.btndiv button{
    padding: 1vw 1.5vw;
    border-radius: 100px;
    border: 1px solid grey;
    background-color: #fff;
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: -.1px;
}


#dev{
    padding: 5vw 14vw;
    width: 100%;
}
#dev h1{
    font-size: 2.7vw;
    font-weight: 400;
    width: 46%;
    line-height: 0.9;
}
#dev p{
    font-size: 1.3vw;
    margin-top: 2vw;
    width: 50%;
    letter-spacing: -.5px;
}
#slides{
    padding: 2vw 6vw;
    display: flex;
    justify-content: space-between;
}
#slide{
    width: 30%;
}
#slide .img{
    height: 250px;
    width: 100%;
    background-color: yellow;
    overflow: hidden;
    border-radius: 15px;
}
#slide .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#slide .tag{
    width: fit-content;
    background-color: #f3f3f3;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 100px;
}
#slide h4{
    font-size:1.3vw;
    font-weight: 400;
    letter-spacing: -.9px;
}